.left-panel-button{
    background-color: #D9D9D9;
    -fx-background-color: #D9D9D9;
}

.left-panel-button:pressed{
    background-color: #BFBFBF;
    -fx-background-color: #BFBFBF;  
}

.left-panel-label{
    background-color: #009900;
    -fx-background-color: #009900;
    padding: 6px;
    -fx-padding: 6px;
    font-size: 1.5em;
    -fx-font-size: 1.5em;
}

.control-button{
    font-size: 16px;
    -fx-font-size: 16px;
    -fx-background-radius: 50%;
    background-color: #00FF00;
    -fx-background-color: #00FF00;
}

.top-button{
    background-color: #009900;
    -fx-background-color: #009900;
    font-size: 1.5em;
    -fx-font-size: 1.5em;
}

.button:hover{
    cursor: pointer;
    -fx-cursor: hand;
}

.button:pressed{
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95; 
}